.search-container{
    width: 100%;
    margin: 30px;
}
.search-container-nav{
   width: 50%;
   margin: 0px auto;
   background-color: #F9BFCA;
   padding: 20px;
   border: 1px solid #F9BFCA;
   border-radius: 5px;
   border: 1px solid red;
}
.input-box{
    width: 400px;
    padding: 9px 15px;
    border: none;
    font-size: 13px;
}